.modal {
    .modal-header {
        padding: 10px 22px;
    }

    .modal-body {
        padding: 20px;
        font-size: 14px;
        
        p {
            padding-left: 3px;
        }

        h3 {
            font-size: 16px;
        }

        .profile-image.small {
            width: 32px;
            height: 32px;
            border-radius: 50%;
        }
    }
}

.modal-footer .btn.btn-default {
    box-shadow: none !important;

    &:hover {
        background-color: #eee;
    }
}

.modal-footer .btn.btn-primary, .chat-footer .btn.btn-primary {
    box-shadow: none !important;
    color: #2196f3;
    background-color: #fff;
    &:hover {
        background-color: #eee;
    }
}

.chat-modal .modal-header {
    padding: 10px 20px;

    .close {
        margin-top: 10px;
    }
}

.chat-footer .btn.btn-warning {
    box-shadow: none !important;
    color: #ff9800;
    background-color: #fff;
    &:hover {
        background-color: #eee;
    }
}