.tag-container {
	border: 2px solid @border-color;
	border-radius: 5px;
	padding: 2px 5px;
	margin: 0px 10px 10px 0px;
	font-size: 16px;

	.tag-item {
		padding-right: 5px;
	}

	.tag-topic-count {
		border-left: 2px solid @border-color;
		padding-left: 5px;
	}
}

.tags .tag-list {
	margin-bottom: 20px;
}

.topic, .recent, .popular, .category {
	.tag-container {
		font-size: 12px;
		margin: 0px 5px 0px 0px;
	}
}