.users-container {
    padding: 0;

    .users-box {
        display: inline-block;
        margin-top: 20px;
        text-align: center;
        vertical-align: top;
        width: 100px;

        .user-picture {
            width: 60px;
            height: 60px;
        }
    }

    &.rooms {
        .user-picture {
            width: 32px;
            height: 32px;
        }
    }
}

#user_label .user-picture {
    width: 30px;
    height: 30px;
}

.user-picture {
  	border-radius: 50%;
}

.users {
    .users-box .user-info {
  	     font-size: 13px;
     }

     .input-group-addon {
        &.label-success {
            background-color: #4caf50;
            vertical-align: middle;
        }

        &.label-warning {
            background-color: #ff9800;
            vertical-align: middle;
        }
    }
}